<!DOCTYPE html>
<html>

    <head>
        <title"><h2>UwU</h2></title>
        <link href="static/test.css" rel="stylesheet"/>
    </head>

    <body class="centered"">
        <h1 class="centered" id="title">Hello, Girls!</h1>
        <p><h3>This is Bryan Yakimisky.</h3></p>
        <p>He goes to <b>Purdue University</b> and lives in <b>Darlington Ct.</b></p>

        <img src="https://pbs.twimg.com/media/Dxhx2AKWsAIRNQe?format=jpg&name=medium"/>
        
        <h2 class="centered">His Favourite Girl</h2>
        <ol class="centered">
            <h3>Tohsaka Rin</h3>
            <img src="https://www.pngitem.com/pimgs/m/361-3619194_rin-tohsaka-hd-png-download.png"/>
        </ol>

        <h2 class="centered">His Favourite Sites</h2>
        <ul class="centered">
            <li><a href="https://www12.9anime.to/">9AnimeS</a></li>
            <li><a href="https://hentaihaven.xxx/">HentaiHaven</a></li>
            <li><a href="https://www.xvideos.com/">xvideos</a></li>
            <li><a href="https://www.pornhub.com/">Pornhub</a></li>
        </ul>

        <h2 class="centered">About Bryan</h2>
        <p class="centered">UwU</p>
    </body>

</html>